body{
    background-color: black;
}


.container{
    width: 70%;
}

.container .jumbotron, .container .panel{
    border-radius: 0px;
    
}

.btn{
    border-radius: 0px;
}

.logopanel{
    margin-top: 20px;
    padding-top: 10px;
    padding-top: 10px;
    
}